IQS_UID=usuario
IQS_PWD=senha
IQS_DB=dsn
IQS_CONFIG_DIR=C:\oracle\network\admin

ANOMES=202606
IQS_RAW_DUCKDB_PATH=data\raw\iqs_raw_202606.duckdb

REEXTRAIR=
REPROCESSAR=

DUCKDB_THREADS=4
DUCKDB_MEMORY_LIMIT=10GB
DUCKDB_MAX_TEMP_DIRECTORY_SIZE=80GB

OUTLIER_DURACAO_HORAS=24
OUTLIER_QTD_UCS=10000
OUTLIER_QTD_INTRP_CONTIDAS=100
OUTLIER_QTD_UCS_AFETADAS=50000

IQS_ORACLE_THICK_MODE=
IQS_ORACLE_CLIENT_LIB_DIR=C:\oracle\instantclient_21_13

TOTAL_CONSUMIDORES=

IQS_OLD_PROCESSED_PATH=data\processed\iqs_adms_processed_202606_old.duckdb
